name: Test pipeline

on:
  schedule:
    - cron: '00 15 * * *' 
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven

      - name: Run Tests
        run: mvn clean test -X -Dbrowser=chrome -DisLambdaTest=false -DisHeadless=true

      # Upload logs
      - name: Upload Logs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: automation-logs
          path: logs/

      # Upload Extent Report
      - name: Upload Extent Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: extent-report
          path: report.html

      # Upload screenshots
      - name: Upload Screenshots
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: screenshots
          path: screenshots/

      # Prepare report for GitHub Pages
      - name: Prepare Report Folder
        if: always()
        run: |
          mkdir -p public/extent-reports
          cp report.html public/extent-reports/
          cp -r screenshots public/extent-reports/
          ls -l public/extent-reports

      # Deploy to GitHub Pages
      - name: Deploy Report to GitHub Pages
        if: always()
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: public/extent-reports
          token: ${{ secrets.TEST1234}}
          clean: true
